@media screen and (max-width: 1024px )
{   


	.photo img
	{
	border-radius: 25px;
	}
  	
   .présentation h1
   {
   	font-size: 0.8em;
   }


   #informations
   {
   	flex-direction: column;
    border:none;
	}
	.experience, .formation, .competences
	{
	width: auto;
	text-align: justify;
	margin: 10px;

	}


}