@font-face {
    font-family: 'alegreyaregular';
    src: url('alegreya-regular-webfont.woff2') format('woff2'),
         url('alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    font-family: 'andadaregular';
    src: url('andada-regular-webfont.woff2') format('woff2'),
         url('andada-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'source_code_proregular';
    src: url('sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
    background: url('images/fond_jaune.png') fixed;
    font-family:'alegreyaregular','Trebuchet MS', Arial, sans-serif;
    color: grey;
 	width: 90%;
 	margin: auto;
}

h1, h3, h4

{
	font-family: 'andadaregular', 'Trebuchet MS', Arial, sans-serif;
	margin:1px;

}

ul

{
	font-family: 'andadaregular', 'Trebuchet MS', Arial, sans-serif;
	margin: 1PX;

}

/* alter prog for cv*/
.présentation h3
{
	font-size:1.6em;
	text-shadow: 0px 5px 5px grey;
	text-align: center;
}

.photo img
{	
	width: 140px;
	height: 150px;
	float: right;
}

#informations
{
	clear: right;
	border-left: 3px dotted grey;
	display: flex;
	flex-direction: row;
	font-size: 0.8em;
	width: 90%;
	height: 99%;

}
.experience ol, .formation ul, .competences ul
{
	list-style-type: none;
	list-style-image: url('images/ico_liensexterne.png');
}

.experience
{	
	background: url('photo.jpg') fixed no-repeat top-right;
	float: right;
	width: 33%;
	height: 100%;
	padding:auto;
	text-align: justify;
}

.competences
{
	width: 33%;
	height: 100%;
	
}

.formation
{
	width: 33%;
	height: 100%;
	
	
	
}