







body
{
    background: url('images/fond_jaune.png') fixed;
    font-family:'alegreyaregular','Trebuchet MS', Arial, sans-serif;
    color: grey;
 	margin: auto;
}

#cv
{
    
    display: flex;
    flex-direction: row;
}

#header img
{
    margin: 20px;
    align-self: center;
    border-radius: 80px;
    box-shadow: 2px 3px 5px grey;

    height: 160px;
    width: 160px;
}

#header li
{

    list-style-type: none;
}

#header h3
{
    background-color: black;
    color: gold;
    text-align: center;

}

#header
{
    display: flex;
    flex-direction: column;
    width : 25%;
    background-color: gold;
    
}
.myself
{
    padding: 15px;
    text-align: justify;
    font-size: 0.7em;

}

.hobbies
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact li
{
    font-size: 0.7em;
}

#style
{
    text-decoration: underline;
    text-decoration-color: gold;
}


#prenom
{
    color: gold;
}

#contenucv h1
{
    
    font-size: 2.3em;
    margin-bottom:1px;

}
#contenucv h3
{
    font-family: 'source_code_proregular';
    margin-top: 0px;
    margin-bottom: 50px;
}


#contenucv
{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width : 80%;
    
}

.titre
{
    width: 100% ;
    margin-bottom: 1px;
    border-bottom: 1px solid gold;
   
}

.date
{
    font-size: 0.8em;
    
    width: 20%;

}
.job
{
    margin-top: 1em;
    font-size: 0.8em;
    margin-left: 50px;
    width: 70%;
     
}
.job p
{
    margin: 5px;
}

.xp
{
    display: flex;
    flex-direction: row;
    
}

.comp
{
    display: flex;
    flex-direction: row;
   
}

/* fonts  fontawesome*/

.fa-snowboarding,.fa-d-and-d,.fa-hiking
{
    font-size: 1.8em;
}

.fa-university , .fa-briefcase, .fa-calendar-alt
{
    color:gold;
    margin-right: 25px;
    
}
.fa-dot-circle
{
    font-size: 0.5em;
}