@font-face {
    font-family: 'alegreyaregular';
    src: url('alegreya-regular-webfont.woff2') format('woff2'),
         url('alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    font-family: 'andadaregular';
    src: url('andada-regular-webfont.woff2') format('woff2'),
         url('andada-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'source_code_proregular';
    src: url('sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
    background: url('images/fond_jaune.png') fixed;
    font-family:'alegreyaregular','Trebuchet MS', Arial, sans-serif;
    color: grey;
 	margin: auto;
}

#cv
{
    
    display: flex;
    flex-direction: row;
}

#header img
{
    margin: 20px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 2px 3px 5px grey;

    height: 160px;
    width: 160px;
}

#header li
{

    list-style-type: none;
}

#header h3
{
    background-color: black;
    color: gold;
    text-align: center;

}

#header
{
    display: flex;
    flex-direction: column;
    width : 25%;
    background-color: gold;
    
}
.myself
{
    padding: 15px;
    text-align: justify;
    font-size: 0.7em;

}

.hobbies
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact li
{
    font-size: 0.7em;
}

#style
{
    text-decoration: underline;
    text-decoration-color: gold;
}


#prenom
{
    color: gold;
}

#contenucv h1
{
    font-family: 'source_code_proregular';
    font-size: 2.3em;
    margin-bottom:1px;

}
#contenucv h3
{
    font-family: 'source_code_proregular';
    margin-top: 0px;
    margin-bottom: 50px;
}


#contenucv
{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width : 80%;
    
}

.titre
{
    width: 100% ;
    margin-bottom: 1px;
    border-bottom: 1px  solid;
    border-color: gold;
   
}

.date
{
    font-size: 0.8em;
    width: 20%;
    margin-bottom: 5px;
    margin-left: 0;

}
.job
{
    font-weight: bold;
}
.dip
{
    font-size: 0.9em;
    width:90%;
    margin-bottom: 15px; 
    margin-left: 100px;
    list-style-type: none;
}

.xp li, .xp
{
    display: flex;
    flex-direction: row; 
    
}

.xp ul, .xp li
{
    padding-left: 0;
}
.xp p
{
    margin: 7px;
}

.xps
{   
    border-top: 1px solid;
    border-color: gold;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.xp1 li, .xp2 li
{
    list-style-type: none;
    font-size: 0.8em;
}



.comp
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
   
}

/* fonts  fontawesome*/

.fa-snowboarding,.fa-d-and-d,.fa-hiking
{
    font-size: 1.8em;
}

.fa-graduation-cap, .fa-briefcase, .fa-calendar-alt
{
    color:gold;
    margin-right: 25px;
    
}
.fa-dot-circle
{
    color:gold;
    font-size: 0.7em;
   
}

.fa-circle-notch
{
    color: gold;
    font-size: 0.7em;
    margin-right: 10px;
}

